.Cover{
    background-image: url(Image003.jpeg);
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    width: 103%;
    height:850px;
    border:0px;
    margin-top: -80px;
    margin-left: -10px;  
    
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.CoverContainer{
    margin:0px auto;
}

.Title{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
    color: aliceblue;
    font-family:cursive;
}
.Subtitle{
    margin-top:-60px;
    color: rgba(240, 255, 255, 0.719);
    text-shadow: 2px 2px 2px #333;
    font-family:cursive;
}
.NavBarText{
    color:aliceblue;
}
#NavBarList{
    list-style-type: none;
    text-align:right;
    margin-right: 30px;
}
#NavBarList ul li{
    display: inline-block;
    height: 30px;
    width: 125px;
    
}
#NavBarList li a{
    text-decoration: none; 
    text-align: center;
}
.ImageFrame{
    height: 600px;
    text-align: center;
}
.Button{ 
    text-align: center;
}
input{
    width: 20px; 
    height: 20px; 
    background-color: #ccc; 
    border-radius: 100%; 
    border-style: none; 
    outline: none;
}
img{ 
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: relative;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: 20px;
}