.Cover{
    background-image: url(Image003.jpeg);
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    width: 103%;
    height:850px;
    border:0px;
    margin-top: -80px;
    margin-left: -10px;  
    
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.CoverContainer{
    margin:0px auto;
}

.Title{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
    color: aliceblue;
    font-family:cursive;
}
.Subtitle{
    margin-top:-50px;
    color: rgba(240, 255, 255, 0.719);
    text-shadow: 2px 2px 2px #333;
    font-family:cursive;
}
